root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120
end_of_line = lf
ij_any_wrap_long_lines = true
ij_continuation_indent_size = 4
ij_wrap_on_typing = false

[*.yml]
indent_size = 2

[*.toml]
indent_size = 2
